<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Tests" parallel="tests" thread-count="1">

    <test name="UI Test - Chrome (Headless On/Off, Profile On/Off)">
        <parameter name="runTest" value="true"/>  <!-- TESTİ ÇALIŞTIR: true, ÇALIŞTIRMA: false -->
        <parameter name="testType" value="UI"/>
        <parameter name="browser" value="chrome"/>
        <parameter name="headless" value="false"/>
        <parameter name="useProfile" value="false"/>
        <classes>
            <class name="runners.UITestRunner"/>
        </classes>
    </test>

    <test name="UI Test - Firefox (Headless On/Off, Profile On/Off)">
        <parameter name="runTest" value="true"/>  <!-- TESTİ ÇALIŞTIR: true, ÇALIŞTIRMA: false -->
        <parameter name="testType" value="UI"/>
        <parameter name="browser" value="firefox"/>
        <parameter name="headless" value="false"/>
        <parameter name="useProfile" value="false"/>
        <classes>
            <class name="runners.UITestRunner"/>
        </classes>
    </test>

    <test name="API Test">
        <parameter name="runTest" value="true"/>  <!-- TESTİ ÇALIŞTIR: true, ÇALIŞTIRMA: false -->
        <parameter name="testType" value="API"/>
        <classes>
            <class name="runners.APITestRunner"/>
        </classes>
    </test>

</suite>
